#beats {
    width: 40%;
    font-size: var(--size-xl)
}

.Beat__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: var(--size-xs) auto;
}

.Beat__controls button {
    padding: var(--size-xxs);
    border-radius: 50%;
}

.Beat__controls button img {
    width: var(--size-l);
    height: var(--size-l);
}

#stress {
    width: calc(var(--size-m) * 2.5);
    height: calc(var(--size-m) * 2.5);
    margin-top: var(--size-xs);
    border-radius: 50%;
    font-size: var(--size-m);
    transition: 0.5s;
}

#stress.yes {
    background-position: 0 0;
}

#stress.no {
    background-position: 100% 100%;
}

