.Footer {
    margin-top: 1rem;
    text-align: center;
}

.Footer__badges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer__badges .badge {
    margin-bottom: 4px;
}

.Footer__copyright a {
    margin-bottom: 8px;
    font-size: var(--size-xs);
    color: #6a329f;
}

.Footer__language button {
    background-color: transparent;
    margin-bottom: var(--size-xs);
}

.Footer__language button img {
    vertical-align: middle;
    height: var(--size-xl);
}