#language {
    background-color: transparent;
    margin-bottom: var(--size-xs);
}

#language img {
    vertical-align: middle;
    height: var(--size-xl);
}

.footer {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.footer .badges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .badges .badge {
    margin: 0 5px;
}

.footer .copyright {
    font-size: 0.8em;
}
