.Play {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Play__button {
    width: calc(var(--size-l) * 3);
    height: calc(var(--size-l) * 3);
    border-radius: 50%;
    font-size: var(--size-m);
    white-space: nowrap;
    transition: 0.5s;
}

.Play__button.stopped {
    background-position: 0 0;
}

.Play__button.playing {
    background-position: 100% 100%;
}

.Play__switch {
    width: var(--size-xxl);
    height: var(--size-xxl);
    border-radius: 50%;
}

.Play__switch.real {
    transition: 0.5s;
    cursor: pointer;
}

.Play__switch.real img {
    width: 65%;
}

@media (max-width: 300px) {
    .Play {
        flex-direction: column;
    }

    .Play__button {
        margin: 10px 0;
    }

    .Play__switch.decoy {
        display: none;
    }
}