.Sound__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Sound__list .item {
    margin: var(--size-s) calc(var(--size-xxs) * 0.8) 0 calc(var(--size-xxs) * 0.8);
    padding: var(--size-xs);
    border-radius: 50%;
    background-position: 100% 100%;
    transition: 0.5s;
    cursor: pointer;
}

.Sound__list .item.active {
    background-position: 0 0;
}

@media (max-width: 480px) {
    .Sound__list {
        justify-content: space-around;
    }

    .Sound__list .item {
        margin: var(--size-s) calc(var(--size-xxs) * 0.5) 0 calc(var(--size-xxs) * 0.5);
    }
}

.Sound__list .item img {
    width: var(--size-l);
    height: var(--size-l);
}