.Subdivision__list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Subdivision__list .item {
    width: 25%;
    height: var(--size-l);
    margin: var(--size-s) auto 0 auto;
}

@media (max-width: 375px) {
    .Subdivision__list .item {
        width: 50%;
    }
}

.Subdivision__list .item img {
    height: 100%;
    filter: invert(40%);
    transition: 0.5s;
}

.Subdivision__list .item.active img {
    filter: invert(100%);
    transform: scale(1.1);
}

.Subdivision__list .item img:hover {
    filter: invert(70%);
}