#counter-wrapper {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
}

#counter-wrapper img {
    height: var(--size-l);
    margin-right: var(--size-xxs);
}

#changelog {
    width: 80%;
    margin: var(--size-s) auto 0 auto;
}

#changelog ul {
    width: 95%;
    margin-left: auto;
    text-align: left;
}

#changelog ul li {
    list-style-type: disc;
    margin-top: var(--size-xxs);
}