.VersionWeb__downloads, .VersionAndroid__downloads {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 12px 0;
}

.VersionWeb__downloads button, .VersionAndroid__downloads button {
    height: var(--size-l);
    padding: 2px 12px;
    border-radius: 1000px;
}

.VersionWeb__changelog .messages, .VersionAndroid__changelog .messages {
    margin: 8px 0;
}
