@font-face {
    font-family: 'Bauhaus';
    src: url('../assets/fonts/Bauhaus93.eot');
    src: url('../assets/fonts/Bauhaus93.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Bauhaus93.woff2') format('woff2'),
        url('../assets/fonts/Bauhaus93.woff') format('woff'),
        url('../assets/fonts/Bauhaus93.ttf') format('truetype'),
        url('../assets/fonts/Bauhaus93.svg#Bauhaus93') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Bauhaus', sans-serif;
    font-weight: lighter;
}

html {
    font-size: 16px;
    --size-xxl: 3rem;
    --size-xl: 2rem;
    --size-l: 1.8rem;
    --size-m: 1.5rem;
    --size-s: 1rem;
    --size-xs: 0.8rem;
    --size-xxs: 0.5rem;
}

li {
    list-style: none;
}

.clearfix:before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}